/** -- Button -- **/

#mp-button {
  position: absolute;
  border: none;
  font-size: 1.6em;
  cursor: pointer;
  margin: 0;
  z-index: 300;
  -webkit-font-smoothing: antialiased;
  padding: 0.5em 0.6em;
  color: white;
  background: #222;
  left: 0;
  top: 0;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  -ms-transform:translate3d(0, 0, 0);
  -o-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

body.mp-pushed #mp-button {
  -webkit-transform:translate3d(200px, 0, 0);
  -moz-transform:translate3d(200px, 0, 0);
  -ms-transform:translate3d(200px, 0, 0);
  -o-transform:translate3d(200px, 0, 0);
  transform:translate3d(200px, 0, 0);
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease; 
}