/*

Mobile Push Menu - Position CSS

*/

/** -- Menu Positioning -- **/

body {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
} 

html {
  overflow-x: hidden;
  height: 100%;
}

html.mp-pushed {
  overflow-y: hidden; 
}

body.mp-pushed, body.mp-pushed #page {
  overflow: hidden;
  height: 100%;
}

body:before {
  content: " ";
  display: table;
}

body:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/** -- Menu Display -- **/

#mp-menu {
  position: absolute;
  height: 100%;
  width: 200px;
  top: 0;
  left: 0;
  z-index: 2;
  overflow-y: auto;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transform:translate3d(-200px, 0, 0);
  -moz-transform:translate3d(-200px, 0, 0);
  -ms-transform:translate3d(-200px, 0, 0);
  -o-transform:translate3d(-200px, 0, 0);
  transform:translate3d(-200px, 0, 0);
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

#mp-menu ul.mp-menu {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  padding: 0;
}

#mp-menu ul.mp-menu ul {
  position: absolute;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  padding: 0;
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  overflow-y: auto;
  -webkit-transform:translate3d(-200px, 0, 0);
  -moz-transform:translate3d(-200px, 0, 0);
  -ms-transform:translate3d(-200px, 0, 0);
  -o-transform:translate3d(-200px, 0, 0);
  transform:translate3d(-200px, 0, 0);
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

/** -- Menu movement -- **/

#mp-menu ul.mp-first-level > li.mp-expanded.pushed ul.mp-second-level,
#mp-menu ul.mp-second-level > li.mp-expanded.pushed ul.mp-third-level {
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  -ms-transform:translate3d(0, 0, 0);
  -o-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

body.mp-pushed #mp-menu {
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  -ms-transform:translate3d(0, 0, 0);
  -o-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

/** -- Page movement -- **/

#page {
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

body.mp-pushed.mp-menu-push #page {
  -webkit-transform:translate3d(200px, 0, 0);
  -moz-transform:translate3d(200px, 0, 0);
  -ms-transform:translate3d(200px, 0, 0);
  -o-transform:translate3d(200px, 0, 0);
  transform:translate3d(200px, 0, 0);
  -webkit-transition:-webkit-transform 0.5s ease;
  -moz-transition:-moz-transform 0.5s ease;
  -o-transition:-o-transform 0.5s ease;
  transition:transform 0.5s ease; 
}

body.mp-pushed #page {
  position: relative;
  height: 100%;
}

body.mp-overlay #page:after {
  position: absolute;
  content: "";
  opacity: 0;
}

body.mp-pushed.mp-overlay #page:after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: black;
  opacity: 0.3;
  -webkit-transition:opacity 0.5s ease;
  -moz-transition:opacity 0.5s ease;
  -o-transition:opacity 0.5s ease;
  transition:opacity 0.5s ease;
}
