/*

Mobile Push Menu - Style CSS

*/

/** -- Menu Style -- **/

#mp-menu, #mp-menu ul.mp-menu ul {
  background: #222;
}

#mp-menu ul.mp-menu li {
  float: left;
  clear: both;
  width: 100%;
  display: block;
  border-bottom: 1px solid #333;
}

#mp-menu ul.mp-menu li.mp-back,
#mp-menu ul.mp-menu li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
  float: left;
  width: 100%;
  font-size: 16px;
}

#mp-menu ul.mp-menu li.mp-expanded > .arrow,
#mp-menu ul.mp-menu li a,
#mp-menu ul.mp-menu li.mp-back {
  -webkit-tap-highlight-color: #222;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#mp-menu ul.mp-menu li.mp-expanded > .arrow:focus,
#mp-menu ul.mp-menu li a:focus {
  outline: none;
}

#mp-menu ul.mp-menu li.active-trail > a {
  font-weight: bold;
}

#mp-menu ul.mp-menu li a.active {
  text-decoration: underline;
}

#mp-menu ul.mp-menu li.mp-expanded {
  background: #222;
}

#mp-menu ul.mp-menu li.mp-expanded > .arrow {
  padding: 10px;
  color: white;
  text-decoration: none;
  background: #333;
  font-size: 18px;
  line-height: 22px;
  display: inline-block;
  float: right;
  cursor: pointer;
  width: 38px;
  text-align: center;
}

#mp-menu ul.mp-menu li.mp-expanded > a {
  display: inline-block;
  width: 162px;
  background: #222;
}

#mp-menu ul.mp-menu li.mp-back {
  background: #333;
  cursor: pointer;
}

#mp-menu ul.mp-menu li.mp-back .mp-icon-angle-left {
  margin-right: 15px;
}

/** -- Icons -- **/

@font-face {
  font-family: 'mp-icons';
  src:url('fonts/mp-icons.eot?97zx5x');
  src:url('fonts/mp-icons.eot?97zx5x#iefix') format('embedded-opentype'),
    url('fonts/mp-icons.ttf?97zx5x') format('truetype'),
    url('fonts/mp-icons.woff?97zx5x') format('woff'),
    url('fonts/mp-icons.svg?97zx5x#mp-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="mp-icon-"], [class*=" mp-icon-"] {
  font-family: 'mp-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mp-icon-close:before {
  content: "\f00d";
}
.mp-icon-remove:before {
  content: "\f00d";
}
.mp-icon-times:before {
  content: "\f00d";
}
.mp-icon-bars:before {
  content: "\f0c9";
}
.mp-icon-navicon:before {
  content: "\f0c9";
}
.mp-icon-reorder:before {
  content: "\f0c9";
}
.mp-icon-angle-left:before {
  content: "\f104";
}
.mp-icon-angle-right:before {
  content: "\f105";
}
.mp-icon-angle-up:before {
  content: "\f106";
}
.mp-icon-angle-down:before {
  content: "\f107";
}
